In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
import time
import json
import numpy as np
import pandas as pd
import geopandas as gpd
import pickle as pkl
import networkx as nx
import matplotlib.pyplot as plt

import src
from src.reload import deep_reload

In [3]:
df_ac = pd.read_csv('CEC/ACL2_Weighted_Sample.csv')
df_dc = pd.read_csv('CEC/DCL2_Weighted_Sample.csv')

In [4]:
np.array(df_ac.keys())

array(['ObjectId2', 'Fuel Type Code', 'Station Name', 'Street Address',
       'City', 'State', 'ZIP', 'Status Code', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Network',
       'EV Network Web', 'Latitude', 'Longitude', 'Date Last Confirmed',
       'ID', 'Updated At', 'Owner Type Code', 'Open Date',
       'EV Connector Types', 'Country', 'EV Pricing', 'Restricted Access',
       'STATEFP', 'COUNTYFP', 'County', 'TRACTCE', 'GEOID', 'NAME',
       'NAMELSAD', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'Tract',
       'GreaterRegion', 'MTFCC', 'FUNCSTAT', 'ALAND_sqm', 'AWATER_sqm',
       'Contiguous', 'Contiguo_1', 'Contiguo_2', 'UCD_urban_',
       'Tract_POPU', 'NAME_12', 'SQMI_ALAND', 'DAC', 'Income_Gro',
       'Shape_Leng', 'Join_Count', 'TARGET_FID', 'x', 'y', 'ObjectId',
       'x2', 'y2', 'DAC/LIC', 'rural', 'DCFC', 'EV Network Clean',
       'weight', 'weight_'], dtype=object)

In [20]:
df_ac.head(5)[['EV Level2 EVSE Num', 'EV DC Fast Count']]

   EV Level2 EVSE Num  EV DC Fast Count
0                   2               NaN
1                   2               NaN
2                   2               NaN
3                   6               NaN
4                   2               NaN

In [10]:
df_ac['lon_lat'] = [(r['Longitude'], r['Latitude']) for i, r in df_ac.iterrows()]
df_dc['lon_lat'] = [(r['Longitude'], r['Latitude']) for i, r in df_dc.iterrows()]

In [22]:
len(df_ac['EV DC Fast Count'].unique()),len(df_ac['lon_lat'].unique()),df_ac.shape

(1, 1495, (1500, 65))

In [21]:
len(df_dc['EV Level2 EVSE Num'].unique()),len(df_dc['lon_lat'].unique()),df_dc.shape

(16, 497, (500, 65))

In [17]:
df_combined = pd.concat([df_ac, df_dc], ignore_index = True)

In [19]:
len(df_combined['lon_lat'].unique()),df_combined.shape

(1991, (2000, 65))